{% extends 'base.html' %}

{% block title %}{{titulo}}{% endblock title %}


{% block subtitle %}
<h2 class="pb-2 border-bottom">{{subtitulo}}</h2>
{% endblock subtitle %}

{% block content %}

<div class="container">
  <form  action="" method="POST">
    <table style="margin-left: auto; margin-right: auto; width: 60%;">
      {{ form.as_table }}
      {% csrf_token %}

      </table>
        <div style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 20%;">
            <button type="SUBMIT" style="margin: auto;">Buscar</button>
        </div>
    </form>

    <hr>

  {% include template_tabla %}
</div>

{% endblock content %}