{% extends 'base.html' %}

{% block content %}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h4>Buscar Movimientos por Liquidación</h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
            <form method="POST" action="{% url 'movmes:buscar_criterio' 'L' %}">
                {% csrf_token %}
                {{ form1 }}
                <button type="Submit">Buscar</button>
            </form>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4>Buscar Movimientos por Beneficiarios</h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
            <form method="POST" action="{% url 'movmes:buscar_criterio' 'B' %}">
                {% csrf_token %}
                {{ form2 }}
                <button type="Submit">Buscar</button>
            </form>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4>Buscar Movimientos por Concepto / Códigos</h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <form method="POST" action="{% url 'movmes:buscar_criterio' 'C' %}">
            {% csrf_token %}
            {{ form3 }}
            <button type="Submit">Buscar</button>
        </form>

        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 10px;">
    {% include 'movmes/tabla.html' %}
  </div>

{% endblock content %}